{{template "above" .}}

        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 mb-3">
            <div class="alert alert-info">
            Analyze an SVG image and see what is inside!
            </div>
            <ul>
                <li><a href="/upload.html">File upload</a></li>
                <li><a href="/url.html">URL</a></li>
                <li><a href="/clipboard.html">Clipboard</a></li>
            </ul>
            </div>
        </div> 

{{template "below" .}}