{{template "above" .}}

<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link" href="upload.html">Upload</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" href="url.html">URL</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="clipboard.html">Clipboard</a>
	</li>
</ul>

<form class="pt-3" method="post" action="url.html" enctype="multipart/form-data">
	<div class="mb-3">
		<label class="form-label" for="svgurl">SVG URL</label>
		<input class="form-control" name="svgurl" value="" />
	</div>
	<input class="btn btn-primary" id="submit" type="submit" value="Upload" />
	<a class="btn btn-outline-primary" href="index.html">Cancel</a>
</form>

{{template "below" .}}
