{{define "below"}}
        <hr />
        <footer class="d-flex justify-content-center">
            <small>
                <a href="https://github.com/FileFormatInfo/svgan">Source</a>
                | <a href="https://www.fileformat.info/">FileFormat.Info</a>
                | <a href="https://www.svg.zone/">SVG Zone</a>
            </small>
        </footer>
    </div>
    <!--/container-->
</body>
</html>
{{end}}